body {
  background-color: aqua;
}

.home-page{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.btn-home{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px;
}

.title {
  margin-top: 80px;
  font-size: 50px;
}

.todo-button {
  margin-top: 10px;
  width: 150px;
  height: 50px;
  border-radius: 8px;
  background-color: black;
  color: white
}

.todo-button:hover {
  background-color:green;
  color: aqua;
  font-size: 15px;
  font-weight: bold;
  font-style: oblique;
}

.todo-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.todo-input {
  width: 250px;
  height: 25px;
  margin: 5px;
  border: 2px solid;
  border-radius: 10px;
  font-size: 18px;
}

.todo-row {
  margin-top: 45px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  font-size: 20px;
}

.icons {
  margin-left: 10px;
  align-items: stretch;
}

.delete-icon {
  margin-left: 10px;
}

.edit-icon {
  margin-left: 10px;
  margin-right: 10px;
}

@media only screen and (max-device-width: 394px){
  .title {
    flex-wrap: wrap;
    font-size: 25px;
  }
  .todo-input {
    width: 180px;
    height: 20px;
    margin: 5px;
    border: 2px solid;
    border-radius: 8px;
    font-size: 12px;
  }
  
  .todo-button {
    margin-top: 10px;
    width: 90px;
    height: 40px;
    border-radius: 8px;
    background-color: black;
    color: white
  }
}

@media only screen and (max-device-width: 480px) and (min-device-width: 395px) {
  .title {
    flex-wrap: wrap;
    margin-top: 120px;
    font-size: 30px;
  }
}

@media only screen and (max-device-width: 625px) and (min-device-width: 481px) {
  .title {
    flex-wrap: wrap;
    font-size: 40px;
  }
}
